# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Understand basic arithmetic expressions in Python
- Convert units of time using simple Python operations

# Some of the popular languages that Data Scientists use are:

# 1. Python  
# 2. R  
# 3. SQL

# Some of the commonly used libraries used by Data Scientists include:

# 1. Pandas  
# 2. NumPy  
# 3. Matplotlib

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours
hours = 200 / 60
hours

3.3333333333333335

## Author
Gowtham